
.FAQs {
  padding: 120px 0rem;
  background: white;
}


.FAQs h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-family: var(--serif-font); 
  color: var(--dark-lilac);
}

.faqs-content {
  max-width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} 



