/* -----------------------
   Google Fonts
------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Montserrat:wght@300;400&display=swap');

/* -----------------------
   CSS Variables
------------------------ 
:root {
  --bg: #F0F2FF;
  --bg-primary: white;
  --brand: #A390E4;
  --pale: #c8bbe6;
  --dark: #635c97;
  --softest: #f4efff;
  --accent: #EE99C2;
  --text-dark: #1A1A1A;
  --text-light: rgb(255, 255, 255);
  --text-muted: #3D5A80;
  --radius-lg: 18px;
  --radius-md: 14px;
  --soft-shadow: 0 10px 30px rgba(163, 144, 228, 0.4);
  --plain-font: 'Montserrat', sans-serif;
  --serif-font: 'Montserrat', sans-serif;
}*/

:root {
  --bg: #e5f0ff;
  --bg-primary: rgb(249, 249, 249);
  --brand: rgb(255, 247, 247);
  --pale: rgba(218, 236, 236);
  --pale-opaque: rgba(218, 236, 236, 0.8);
  --dark: rgba(112, 149, 172);
  --dark-opaque: rgba(112, 149, 172, 0.6);
  --accent: #273f5e;
  --text-dark: #273f5e;
  --text-light: rgb(255, 255, 255);
  --text-muted: rgb(61, 90, 128);
  --header-bg: rgb(147, 181, 196); 
  --radius-lg: 10px;
  --radius-md: 14px;
  --soft-shadow: 0 10px 30px rgba(56, 56, 57, 0.5);
  --btn-shadow: 0 10px 30px rgba(56, 56, 57, 0.2);
  --radius-lg: 18px;
  --plain-font: 'Montserrat', sans-serif;
  --serif-font: 'Montserrat', sans-serif;
}


#root {

  padding: 0rem 0rem;  
  text-align: center;
}

/* -----------------------
   Global Styles
------------------------ */
body {
  margin: 0;
  padding: 0;
  font-family: var(--plain-font);
  color: var(--text-dark);
  letter-spacing: 0.5px;
  background-image: url('/bg-hero3.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page {
  min-height: 100vh;
  padding: 0;
  margin: 0;

}

.container {
  max-width: 1100px;
  margin: 0 auto;   
  vertical-align: top;
  padding: 0rem 1rem;
}


/* -----------------------
   Buttons
------------------------ */
.primary-btn {
  border: none;
  padding: 0.9rem 2.2rem;
  font-size: 0.95rem;
  font-weight: 400;
  border-radius: 8px;
  color: var(--text-dark);
  cursor: pointer;
  background: var(--bg-primary);
  box-shadow: var(--btn-shadow);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.primary-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 35px var(--soft-shadow);
}

/* -----------------------
   Headings & Paragraphs
------------------------ */

p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: var(--text-muted);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}
